Options -Indexes	
DirectoryIndex index.html index.cgi index.php .ht
<Files ~ "\.(htaccess|htpasswd)$">
deny from all
</Files>

RewriteEngine on 
Options +FollowSymLinks

RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.matyalatte\.github\.io\.com$
RewriteRule ^(.*)$ http://matyalatte.github.io.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]