Options -Indexes	
DirectoryIndex index.html index.cgi index.php .ht
<Files ~ "\.(htaccess|htpasswd)$">
deny from all
</Files>

RewriteEngine on 
RewriteRule ^qrcoder(.*)$ /petitcom/qrcoder$1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]